/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

input, textarea {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  background: #0f0f0f;
}

.header {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.header__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.header__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  padding: 2.5rem;
}
@media screen and (min-width: 768px) {
  .header__side {
    padding: 10rem 8.8rem;
  }
  .header__side::before {
    content: "";
    position: absolute;
    top: 10rem;
    right: 0;
    width: 1px;
    height: calc(100% - 20rem);
    background: #fff;
    opacity: 0.45;
  }
}
.header__logo-link {
  display: block;
  width: 70px;
  height: 45px;
  text-decoration: none;
  background: #aaaaaa;
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    width: 124px;
    height: 62px;
  }
}
.header__copyright {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__copyright {
    display: block;
    color: #fff;
    font-family: "roc-grotesk", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
    transform: rotate(-90deg);
    opacity: 0.45;
  }
}
.header__sns-wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__sns-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header__sns-link {
  display: block;
  width: 25px;
  height: 25px;
  background: #aaaaaa;
}

.hamburger-menu {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    top: 10rem;
    right: 8.8rem;
  }
}
.hamburger-menu__top, .hamburger-menu__middle, .hamburger-menu__bottom {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
}
.hamburger-menu__top {
  top: 25%;
}
.hamburger-menu__middle {
  top: 50%;
}
.hamburger-menu__bottom {
  bottom: 25%;
}

.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  transition: 0.6s ease-out;
}
.slide-menu.opened {
  transform: translateY(0);
}
.slide-menu__inner {
  padding: 0 2.5rem;
}
.slide-menu__ul {
  margin-top: 10rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.slide-menu__list {
  list-style-type: none;
}
.slide-menu__link {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  writing-mode: vertical-rl;
}/*# sourceMappingURL=style.css.map */