/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

input, textarea {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  line-height: 1;
  background: #0f0f0f;
}

.header {
  position: fixed;
  width: 100%;
}
.header__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 100vh;
  padding: 2.5rem;
}
@media screen and (min-width: 1280px) {
  .header__side {
    padding: 10rem 8rem;
  }
  .header__side::before {
    content: "";
    position: absolute;
    top: 10rem;
    right: 0;
    width: 1px;
    height: calc(100% - 20rem);
    background: rgba(255, 255, 255, 0.45);
  }
}
.header__logo-link {
  display: block;
  width: 70px;
  height: 45px;
  text-decoration: none;
  background: #aaaaaa;
}
@media screen and (min-width: 1280px) {
  .header__logo-link {
    width: 110px;
    height: 60px;
  }
}
.header__copyright {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__copyright {
    display: block;
    color: rgba(255, 255, 255, 0.45);
    font-family: "roc-grotesk", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
    transform: rotate(-90deg);
  }
}
.header__sns-wrap {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__sns-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header__sns-link {
  display: block;
  width: 25px;
  height: 25px;
  background: #aaaaaa;
}

.hamburger-menu {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 100;
}
.hamburger-menu.opened .hamburger-menu__top {
  top: 50%;
  transform: rotate(-22.5deg);
}
.hamburger-menu.opened .hamburger-menu__middle {
  opacity: 0;
  transform: translateX(33%);
  pointer-events: none;
}
.hamburger-menu.opened .hamburger-menu__bottom {
  top: 50%;
  transform: rotate(22.5deg);
}
@media screen and (min-width: 1280px) {
  .hamburger-menu {
    top: 10rem;
    right: 8rem;
  }
}
.hamburger-menu__top, .hamburger-menu__middle, .hamburger-menu__bottom {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: 0.4s;
}
.hamburger-menu__top {
  top: 25%;
}
.hamburger-menu__middle {
  top: 50%;
}
.hamburger-menu__bottom {
  top: 75%;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-10%);
  width: 100%;
  background: #0f0f0f;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease-out;
  z-index: 99;
}
.slide-menu.opened {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
@media screen and (min-width: 1280px) {
  .slide-menu {
    width: 40%;
  }
}
.slide-menu__inner {
  padding: 0 2.5rem;
}
@media screen and (min-width: 1280px) {
  .slide-menu__inner {
    padding: 0 8rem;
  }
}
.slide-menu__logo-link {
  margin: 2.5rem 0;
  display: block;
  width: 70px;
  height: 120px;
  background: #aaaaaa;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  .slide-menu__logo-link {
    display: none;
  }
}
.slide-menu__ul {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .slide-menu__ul {
    margin-top: 20rem;
  }
}
.slide-menu__list {
  list-style-type: none;
}
.slide-menu__link {
  padding: 10px 0;
  display: block;
  color: #fff;
  font-size: clamp(18px, 1.8rem, 30px);
  font-weight: 500;
  text-decoration: none;
  writing-mode: vertical-rl;
  position: relative;
}
.slide-menu__link.line {
  padding: 10px 0 10px 10px;
}
.slide-menu__link.line::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: calc(100% - 20px);
  background: #fff;
}
@media screen and (min-width: 1280px) {
  .slide-menu__link {
    font-size: clamp(20px, 3.2rem, 32px);
  }
}
.slide-menu__bottom-box {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (min-width: 1280px) {
  .slide-menu__bottom-box {
    display: none;
  }
}
.slide-menu__sns-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slide-menu__sns-link {
  display: block;
  width: 25px;
  height: 25px;
  background: #aaaaaa;
}
.slide-menu__copyright {
  color: #fff;
  font-family: "roc-grotesk", sans-serif;
  font-size: clamp(10px, 1rem, 14px);
  letter-spacing: 0.05em;
}

#top .mv {
  height: 100vh;
  margin-bottom: 8rem;
  background: #505050;
}
@media screen and (min-width: 1280px) {
  #top .mv {
    margin-bottom: 16rem;
  }
}
#top .news {
  margin-bottom: 8rem;
}
@media screen and (min-width: 1280px) {
  #top .news {
    margin-bottom: 16rem;
  }
}
#top .news__inner {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  #top .news__inner {
    padding: 0 16rem 0 40rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .news__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
#top .news__ttl {
  width: 8rem;
  padding: 0.6rem 0 0.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 5rem;
  color: #fff;
  font-family: "roc-grotesk", sans-serif;
  font-size: clamp(16px, 1.6rem, 20px);
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  #top .news__ttl {
    width: 11rem;
    padding: 0.8rem 0 0.6rem;
    margin-bottom: 0;
    font-size: clamp(14px, 2rem, 20px);
  }
}
#top .news__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media screen and (min-width: 1280px) {
  #top .news__list {
    width: calc(100% - 11rem - 6rem);
    gap: 1.6rem;
  }
}
#top .news__row-group {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  #top .news__row-group {
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
  }
}
#top .news__date {
  margin-bottom: 0.8rem;
  color: rgba(255, 255, 255, 0.45);
  font-family: "roc-grotesk", sans-serif;
  font-size: clamp(14px, 1.4rem, 16px);
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1280px) {
  #top .news__date {
    margin-bottom: 0;
    font-size: clamp(14px, 1.6rem, 16px);
  }
}
#top .news__txt {
  color: #fff;
  font-size: clamp(14px, 1.4rem, 16px);
  letter-spacing: 0.05em;
  line-height: 1.4;
}
@media screen and (min-width: 1280px) {
  #top .news__txt {
    font-size: clamp(16px, 1.8rem, 18px);
  }
}/*# sourceMappingURL=style.css.map */