@use "../global" as *;

.hamburger-menu {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 100;

  @media screen and (min-width: 768px) {
    top: 10rem;
    right: 8.8rem;
  }

  &__top,
  &__middle,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 1px;
    background: $white;
  }

  &__top {
    top: 25%;
  }
  &__middle {
    top: 50%;
  }
  &__bottom {
    bottom: 25%;
  }
}

.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  transition: 0.6s ease-out;

  &.opened {
    transform: translateY(0);
  }

  &__inner {
    padding: 0 2.5rem;
  }

  &__ul {
    margin-top: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__list {
    list-style-type: none;
  }

  &__link {
    display: block;
    color: $white;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    writing-mode: vertical-rl;
  }
}
