@use "../global" as *;

#top {
  .mv {
    height: 100vh;
    margin-bottom: 8rem;
    background: #505050;

    @media screen and (min-width: 1280px) {
      margin-bottom: 16rem;
    }
  }

  .news {
    margin-bottom: 8rem;

    @media screen and (min-width: 1280px) {
      margin-bottom: 16rem;
    }

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__ttl {
      width: 8rem;
      padding: 0.5rem 0;
      margin-bottom: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $white;
      border-radius: 5rem;
      color: $white;
      font-family: $roc;
      font-size: clamp(16px, 1.6rem, 20px);
      font-weight: 500;

      @media screen and (min-width: 1280px) {
        width: 10rem;
        margin-bottom: 0;
        font-size: clamp(14px, 2rem, 20px);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      @media screen and (min-width: 1280px) {
        width: calc(100% - 10rem - 4rem);
        gap: 1.6rem;
      }
    }

    &__row-group {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        gap: 2.4rem;
      }
    }

    &__date {
      margin-bottom: 0.8rem;
      color: $light-white;
      font-family: $roc;
      font-size: clamp(14px, 1.4rem, 16px);
      letter-spacing: 0.1em;

      @media screen and (min-width: 1280px) {
        //width: 12%;
        margin-bottom: 0;
        font-size: clamp(14px, 1.6rem, 16px);
      }
    }

    &__txt {
      color: $white;
      font-size: clamp(14px, 1.4rem, 16px);
      letter-spacing: 0.05em;
      line-height: 1.4;

      @media screen and (min-width: 1280px) {
        //width: 90%;
        font-size: clamp(16px, 1.8rem, 18px);
      }
    }
  }
}
